#wrapper {
	margin-top: 2em;
	padding: 0 2em;
}

#header {
	padding: 2em 0 0 0;
}

#access .menu-header,
div.menu {
	margin-left: 1em;
}


#content {
	margin: 0 2em 0 2em;
}


#container {
	width: 80%;
	margin: 0;
}

#primary {
	width: 20%;
}

