/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #130905;
$white:             #fff;
$gray:				#ccc;

$yellow:			#CCA734;
$green:				#afbd22;
$blue:				#4597cb;
$red:				#791f0b;

$bones-pink:        #f01d4f;
$bones-blue:        #1990db;

$link-color:        $yellow;
$link-hover:        darken($link-color, 9%);

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

/*********************
TYPOGRAPHY
*********************/
$sans-serif:        	"Trebuchet MS",​Verdana,​Arial,​sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

/*********************
BORDER RADIUS
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include border-radius(4px 4px 0 0);
*/

@mixin border-radius($radius...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-moz", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-border-radius: $radius;
  }

  border-radius: $radius;
}

/*********************
FLEXSLIDER STYLES
*********************/
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;font-family:$sans-serif;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
/* .flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;} */
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1; margin:0;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {
	*height: 0;

	a {
		display: block; 
		color:$white; 
		position: absolute; 
		top: 45%; 
		z-index: 999; 
		cursor: pointer; 
		font-family: 'FontAwesome';
		speak: none;
		font-weight: normal;
		font-size:3em;
		text-decoration: none;
		text-transform: none;
		line-height: 1;
		opacity:.5;
		-webkit-font-smoothing: antialiased;

		&:hover {
			color:$red;
			background-color: transparent;
		}

		&.flex-next {
			right: .5em; 
			border: none;

			&:before {
				font-family: 'FontAwesome';
				content: "\f0a9";
			}
		}

		&.flex-prev {
			left: .5em;
			border:none;

			&:before {
				font-family: 'FontAwesome';
				content: "\f0a8";
			}
		}
	}
}

.flexslider:hover .flex-next {opacity: 0.8; }
.flexslider:hover .flex-prev {opacity: 0.8; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}


.home .flexslider, .entry-content .flexslider {
    margin:0 0 1.8% 0;
    position:relative;

    li {
	    margin-bottom: 0px;
	    list-style: none;
	}

	img {
	    max-width:100%;
	    margin-bottom:0;
	     border:0 !important;
	    padding:0 !important;
	    margin:0;
	    box-shadow: none;
	   
	}



	.img {
	    line-height:0px;

	    a.imglink {
		    line-height:0px;
		    display:block;
		    z-index:1;
		}
	}

	.flex-direction-nav {
		z-index: 999;

	}

	.flex-control-nav, .flex-control-paging {
	    display: none;
	    bottom:50%;
	    right:0px;
	    position: absolute;
	    margin-right:1.5em;
	    z-index:999;
	    overflow: visible;

	    li {
		    display: inline-block;

		    a {
			    cursor: pointer !important;
			    display:block;
			    color:$white;
			    background-color:$blue;
			    margin-right:.5em;
			    padding:0 .4em;
			    font-weight:bold;
			    border-bottom: 0 !important;

			    &:hover {
			    	color:$blue;
			    	background-color:$blue;
				}

				&.flex-active {
				    color:darken($blue, 25%);
			    	background-color:lighten($blue, 5%);
				}
			}
		}
	}

}

.home .flexslider {
	border:3px solid $yellow;
	margin-bottom:1em;
	width:100%;
}

@media screen and (max-width: 950px) {
.home .flexslider {
		font-size:.7em;
		

		.overlay  {
			h3 {
				font-size: 1.6em;
				margin-bottom:.2em;
			}
		}
	}
}

@media screen and (max-width: 760px) {
	.home .flexslider {
		font-size:.7em;

		.overlay  {
			h3 {
				font-size: 1.2em;
				margin-bottom:.2em;
			}
		
			.button {
				margin-bottom:0;
			}
		}


	}
}

@media screen and (max-width: 480px) {
.overlay {
		p {
			display: none;
		}

		span {
			width: 100% !important;
			padding:.5em !important;
		}
	}

	.flex-direction-nav {
		display: none;
	}
}